@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Press+Start+2P&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    height:100vh;

    overflow:hidden;

    font-family:'Poppins',sans-serif;

    background:linear-gradient(135deg,#fff4ef,#ffdce7);

}


/* ================= BACKGROUND ================= */


.stars{

    position:fixed;

    inset:0;

}


.stars::before{

    content:"✨ ⭐ ✨ ⭐ ✨ ⭐";

    position:absolute;

    top:20px;

    width:100%;

    text-align:center;

    font-size:25px;

    opacity:.5;

}


/* ================= AMPLOP ================= */


#intro{

    width:100%;

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

}



.envelope-wrapper{

    position:relative;

}



.title{

    position:absolute;

    width:100%;

    top:-110px;

    text-align:center;

}


.title h1{

    color:#573535;

    font-size:25px;

}


.title p{

    margin-top:8px;

    color:#806666;

}



/* BOX AMPLOP */


.envelope{


    width:360px;

    height:240px;

    position:relative;

    cursor:pointer;


    transition:.3s;


}



.envelope:hover{

    transform:scale(1.05);

}



/* BELAKANG */


.back{

    position:absolute;

    inset:0;

    background:#e88f8f;

    border-radius:12px;

    box-shadow:0 20px 45px rgba(0,0,0,.2);

    z-index:1;

}



/* SURAT */


.paper{


    position:absolute;


    width:82%;

    height:190px;


    left:50%;

    bottom:20px;


    transform:translateX(-50%);


    background:white;


    border-radius:10px;


    display:flex;

    justify-content:center;

    align-items:center;


    text-align:center;


    transition:1.3s ease;


    z-index:2;


    box-shadow:0 10px 25px rgba(0,0,0,.15);


}




.paper-content{

    font-size:40px;

}



.paper h2{

    color:#ff5c88;

    font-size:22px;

}



.paper p{

    font-size:14px;

    color:#777;

}



/* DEPAN AMPLOP */


.front{


    position:absolute;


    bottom:0;

    left:0;


    width:100%;

    height:140px;


    background:#db8181;


    clip-path:polygon(

        0 0,

        50% 60%,

        100% 0,

        100% 100%,

        0 100%

    );


    z-index:3;


}




/* FLAP ATAS */


.top-flap{


    position:absolute;


    top:0;

    left:0;


    width:100%;


    height:130px;


    background:#f3b0b0;


    clip-path:polygon(

        0 0,

        100% 0,

        50% 100%

    );


    transform-origin:top;


    transition:1s;


    z-index:5;


}





/* ================= BUKA ================= */



.open .top-flap{


    transform:rotateX(180deg);


}



.open .paper{


    transform:

    translate(-50%,-230px);


    z-index:6;


}



/* ================= POPUP ================= */


.popup{


    position:fixed;


    inset:0;


    display:flex;


    justify-content:center;


    align-items:center;


    background:rgba(0,0,0,.35);


}


.hidden{

    display:none;

}



.show{

    display:flex;

}




.window{


    width:720px;


    max-width:90%;


    background:white;


    border-radius:15px;


    overflow:hidden;


    animation:popup .5s;


}



@keyframes popup{


from{

transform:scale(.7);

opacity:0;

}


to{

transform:scale(1);

opacity:1;

}


}



.bar{


    background:#ff79a3;


    padding:15px;


    color:white;


    display:flex;


    justify-content:space-between;


    align-items:center;


    font-family:"Press Start 2P";


    font-size:10px;


}



.bar button{


    border:none;


    background:none;


    color:white;


    cursor:pointer;


    font-size:18px;


}



.content{


    padding:35px;


    text-align:center;


}


.content h2{


    color:#ff5c88;


}



.content p{


    margin:15px 0;


    line-height:1.8;


    color:#666;


}



.content h3{


    margin-top:20px;


    color:#ff4f84;


}




.buttons{


    margin-top:30px;


    display:flex;


    justify-content:center;


    gap:20px;


    height:80px;


    position:relative;


}




.buttons button{


    padding:14px 25px;


    border:none;


    border-radius:30px;


    cursor:pointer;


    font-weight:600;


}




#loveBtn{


    background:#ff6f91;

    color:white;


}




#runBtn{


    background:#ddd;


}




/* ================= FINAL ================= */



#final{


    position:fixed;


    inset:0;


    display:flex;


    justify-content:center;


    align-items:center;


}



.card{


    background:white;


    padding:45px;


    border-radius:20px;


    text-align:center;


    width:600px;


    max-width:90%;


    box-shadow:0 20px 50px rgba(0,0,0,.2);


}



.cake{


    font-size:80px;


    animation:bounce 1s infinite;


}



@keyframes bounce{


50%{

transform:translateY(-12px);

}


}




.card h1{


    color:#ff5c88;


    margin:20px;


}




.emoji{


    margin-top:20px;


    font-size:30px;


}





/* HEART */


.floating-heart{


    position:fixed;


    bottom:-50px;


    animation:float 5s linear forwards;


}



@keyframes float{


to{

transform:translateY(-120vh);

opacity:0;

}


}




#confetti{


    position:fixed;


    inset:0;


    pointer-events:none;


}
